html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  .svg-wrapper {
    height: 100%;
    display: grid;
    align-content: center;
    svg {
      width: 60%;
      display: block;
      margin: 0 auto;
    }

  }
}